<%= render "admin_panel" do %>
	<strong>RECETTE
	<% if @recipe.public? %>
	PUBLIQUE <i class="fas fa-eye"></i>
	<% else %>
	PRIVÉE <i class="fas fa-eye-slash"></i>
	<% end %>
	</strong>	
	<div class="w3-bar">
		<%= link_to "OUVRIR DANS L'ADMIN", rails_admin.show_path(model_name: 'recipe', id: @recipe.id), class: "w3-bar-item w3-button w3-mobile" %>	
		<%= link_to "MODIFIER", rails_admin.edit_path(model_name: 'recipe', id: @recipe.id), class: "w3-bar-item w3-button w3-mobile" %>	
		<%= link_to "SUPPRIMER", rails_admin.delete_path(model_name: 'recipe', id: @recipe.id), class: "w3-bar-item w3-button w3-mobile" %>	
		<% if @recipe.public? %>
			<%= link_to "RENDRE PRIVÉE", unpublish_recipe_path(@recipe), method: :post, class: "w3-bar-item w3-button w3-mobile" %>	
		<% else %>
			<%= link_to "RENDRE PUBLIQUE", publish_recipe_path(@recipe), method: :post, class: "w3-bar-item w3-button w3-mobile" %>	
		<% end %>
	</div>
<% end %>
