<%= render "admin_panel" do %>
	<strong>Recette: <%= @recipe.title %></strong> | 
	<i class="fas fa-eye"></i> <%= @recipe.hits %>
	<div class="w3-bar">
		<%= link_to rails_admin.show_path(model_name: 'recipe', id: @recipe.id), class: "w3-bar-item w3-button w3-mobile" do %>
			<i class="fas fa-user-lock"></i> Ouvrir dans l'admin
		<% end %>	
		<%= link_to rails_admin.edit_path(model_name: 'recipe', id: @recipe.id), class: "w3-bar-item w3-button w3-mobile" do %>
			<i class="fas fa-edit"></i> Modifier
		<% end %>	
		<%= link_to rails_admin.delete_path(model_name: 'recipe', id: @recipe.id), class: "w3-bar-item w3-button w3-mobile" do %>
			<i class="fas fa-trash"></i> Supprimer
		<% end %>	
		<% if @recipe.public? %>
			<%= link_to unpublish_recipe_path(@recipe), method: :post, class: "w3-bar-item w3-button w3-mobile" do %>
				<i class="fas fa-eye-slash"></i> Rendre privée
			<% end %>	
		<% else %>
			<%= link_to publish_recipe_path(@recipe), method: :post, class: "w3-bar-item w3-button w3-mobile" do %>
				<i class="fas fa-eye"></i> Rendre publique
			<% end %>
		<% end %>
	</div>
<% end %>
