<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :photo %>
    <%= form.file_field :photo %>

  </div>

  <div class="field">
    <%= form.label :story %>
    <%= form.text_area :story %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_area :instructions %>
  </div>

  <div class="field">
    <%= form.label :ingredients %>
    <%= form.text_area :ingredients %>
  </div>

  <div class="field">
    <%= form.label :complexity %>
    <%= form.number_field :complexity %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time %>
  </div>

  <div class="field">
    <%= hidden_field_tag "recipe[category_ids][]", nil %>
    <% Category.all.each do |c| %>
      <%= check_box_tag "recipe[category_ids][]", c.id, @recipe.category_ids.include?(c.id) %>
      <%= c.title %><br>  
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
