<section class="w3-row w3-section">
  <article class="w3-col w3-padding l6">
    <h1 class="recipe-title"><%= @recipe.title.upcase %></h1>
    <%= render "summary" %>
  </article>
  <div class="w3-container w3-col l6">
    <%= image_tag @recipe.photo.variant(resize_to_fill: [1000,750]), class: "w3-image w3-round w3-card" %>
  </div>
</section>
<section class="recipe-story w3-panel">
  <%= render "story" %>
</section>
<section class="w3-row">
  <div class="recipe-ingredient-and-tool w3-container w3-col l4">
    <%= render "ingredients" %>
    <% if @recipe.tools? %>
      <%= render "tools" %>
    <% end %>
  </div>
  <div class="recipe-instruction w3-container w3-col l8">
    <%= render "instructions" %>
  </div>
</section>
<% if @recipe.tips? %>
  <section class="w3-panel">
    <%= render "tips" %>
  </section>
<% end %>
