<%= render 'hero_image' %>
<div class="w3-content ">
	<nav class="w3-margin">
	  <%= link_to root_path do%><i class="fas fa-home"></i><% end %>
	  > Recettes
	</nav>

	<% if defined?(@most_popular_categories) %>
		<h2 class="main-title  w3-container">CATEGORIES POPULAIRES</h2>
		<section class="w3-row">
			<% @most_popular_categories.each do |category| %>
				<article class="w3-col l3 m4 s6">
					<%= render "category_summary_card", category: category %>
				</article>
			<% end %>
		</section>
		<div class="w3-container">
			<%= render "button_link", link_path: categories_path, link_text: "Toutes les categories" %>
		</div>
	<% end %>


	<h2 class="main-title w3-container">TOUTES LES RECETTES</h2>
	<div class="w3-margin">
	  <%= form_tag(recipes_path, :method => "get") do %>
	  <%= text_field_tag :search, params[:search], placeholder: "Rechercher parmi toutes les recettes", class: "w3-input w3-border  w3-round-xxlarge" %>
	  <% end %>
	</div>
	<section class="w3-row">
	<% @recipes.each do |recipe| %>
		<article class="w3-col l4 m6">
	  		<%= render "recipe_summary_card", recipe: recipe %>
	  	</article>
	<% end %>
	</section>
	<%= paginate @recipes%>	
</div>

