<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<% if @recipe.photo_attachment %>
  <%= image_tag @recipe.photo.variant(resize_to_limit: [500, 500])%>
<% end %>

<p>
  <strong>Story:</strong>
  <%= markdown(@recipe.story) %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= markdown(@recipe.instructions) %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= markdown(@recipe.ingredients) %>
</p>

<p>
  <strong>Complexity:</strong>
  <%= @recipe.complexity %>
</p>

<p>
  <strong>Time:</strong>
  <%= @recipe.time %>
</p>

<p>
  <strong> Categories :</strong>
  <ul>
  <% @recipe.categories.each do |category| %>
    <li><%= link_to category.title, category %></li>
  <% end %> 
  </ul>
</p>


<%= link_to 'Back', recipes_path %>
