<h1 class=w3-container><%= @recipe.title.upcase %></h1>

<% if @recipe.photo_attachment %>
<div class="w3-margin">
  <%= image_tag @recipe.photo.variant(resize_to_fill: [1000,600]), class: "w3-image w3-round w3-card" %>
</div>
<% end %>

<article class=w3-container>
  <strong>Difficulté: </strong><%= format_complexity(@recipe) %>
  <br>
  <% if @recipe.preparation_time? %><strong>Preparation: </strong><%= format_time(@recipe.preparation_time) %><% end %>
  <br>
  <% if @recipe.waiting_time? %><strong>Repos: </strong><%= format_time(@recipe.waiting_time) %><% end %>
  <br>
  <% if @recipe.baking_time? %><strong>Cuisson: </strong><%= format_time(@recipe.baking_time) %><% end %>
</article>

<p>
  <strong>Story:</strong>
  <%= markdown(@recipe.story) %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= markdown(@recipe.instructions) %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= markdown(@recipe.ingredients) %>
</p>

<p>
  <strong>Complexity:</strong>
  <%= @recipe.complexity %>
</p>

<p>
  <strong>Times:</strong>
  <ul>
    <% if @recipe.preparation_time? %><li>Preparation time: <%= @recipe.preparation_time %></li><% end %>
    <% if @recipe.waiting_time? %><li>Waiting time: <%= @recipe.waiting_time %></li><% end %>
    <% if @recipe.baking_time? %><li>Baking time: <%= @recipe.baking_time %></li><% end %>
  </ul>
  
</p>

<p>
  <strong> Categories :</strong>
  <ul>
  <% @recipe.categories.each do |category| %>
    <li><%= link_to category.title, category %></li>
  <% end %> 
  </ul>
</p>


<%= link_to 'Back', recipes_path %>
