<div class="hero-image">
</div>

<h2 class="w3-container">Dernieres recettes</h2>

<section class="w3-row">
<% @latest_recipes.each do |recipe| %>
	<article class="w3-col l4 ">
		<a href="<%= recipe_path(recipe) %>">
			<div class="w3-margin w3-display-container w3-hover-opacity ">
				<%= image_tag recipe.photo.variant(resize_to_fill: [1000,600]), class: "w3-image w3-round w3-card" %>
				<header class="w3-display-bottomleft w3-margin w3-text-white">
					<strong><%= recipe.title.upcase %></strong>
					<br>
					<i><%=  format_complexity(recipe) %>
					| <%= format_global_time(recipe) %>
					</i>
				</header>
			</div>
		</a>
	</article>
<% end %>
</section>

<p><%=	link_to "Recipes",  recipes_path %> | <%=	link_to "Categories", categories_path %></p>