<%= render 'hero_image' %>
<div class="w3-content ">
	<h2 class="w3-container">Dernieres recettes</h2>
	<section class="w3-row">
	<% @latest_published_recipes.each do |recipe| %>
		<article class="w3-col l4 m6">
			<%= render "recipe_summary_card", recipe: recipe %>
		</article>
	<% end %>
	</section>
	<div class="w3-container">
		<%= render "button_link", link_path: recipes_path, link_text: "Toutes les recettes" %>
	</div>



	<h2 class="w3-container">Explorer nos categories les plus populaires</h2>
	<section class="w3-row">
		<% @most_popular_categories.each do |category| %>
			<article class="w3-col l3 m4 s6">
				<%= render "category_summary_card", category: category %>
			</article>
		<% end %>
	</section>
	<div class="w3-container">
		<%= render "button_link", link_path: categories_path, link_text: "Toutes les categories" %>
	</div>

	
	<h3 class="w3-container">En manque d'inspiration ?</h3>
	<section class="w3-row">
		<article class="w3-col l4 m6">
			<%= render "recipe_summary_card", recipe: @random_recipe %>
		</article>
	</section>
	

	<% if current_user.present? %>
		<%= render "admin_section"  %>
	<% end %>
</div>
