<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<% if @category.photo_attachment %>
	<%= image_tag @category.photo.variant(resize_to_limit: [500, 500])%>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<ul>
  <% @category.recipes.each do |r| %>
    <li><%= link_to r.title, r %></li>
  <% end %> 
</ul>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
