<main class="w3-content">
  <%= render 'breadcrumb' %>
  <%= render 'category' %>
  <h2 class="main-title w3-container">Dans cette categorie</h2>
  <section class="w3-row">
  	<% @recipes.each do |recipe| %>
      <article class="w3-col l4 m6">
  		  <%= render "recipe_summary_card", recipe: recipe %>
      </article>
  	<% end %>
  </section>
  <%= paginate @recipes %>
  <% if current_user.present? %>
	<%= render "admin_section" %>
  <% end %>
</main>